*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;            /*  this */
    justify-content: center;
    width: 100%;
    height: 100%;
background-color:rgb(98, 135, 85);
}
#panel{
    overflow: hidden;
    
    width: 80%;
    border-radius: 12px;
    height: 90%;
    background-color: rgb(171, 205, 149);

}
#top{
    justify-content: space-between;
    display: flex;
    color: antiquewhite;
    width: 100%;
    height: 100px;
    background-color: rgb(43, 116, 24);
    padding: 0px 30%;
    align-items: center;
}
.box{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
     color: black;
     font-weight: 600;
     font-size: 20px;

}
.elem{
    
    gap: 5px;
    padding: 10px;
    align-items: center;
    display: flex;
    /* background-color: rgb(3, 53, 53); */
    /* width: 10%; */
}
#pannelbuttom{
   display: flex; 
   justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100%-100px);
    width: 100%;
    padding: 15px;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(70, 132, 68);
    color: aliceblue;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color:rgb(9, 71, 9) ;
}
.elem h2{
    font-size: 23px;
    font-weight: 500;

}